<div class="Footer">
  <footer class="Content--container">
      <section class="copyright"><a class="Blog__link" href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
  </footer>
</div>