<header class="Header">
  <div class="Content--container">
    <div class="Content__head">
      <a class="Content__head--link" href="/">
        <h1 class="Content__title">{{@blog.title}}</h1>
      </a>
    </div>
  </div>
</header>