{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> "header-mini"}}

{{!-- The main Content area --}}
<main class="Content Content--container" role="main">
    <div class="InnerContent">
        <div class="Post__list">
          {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

          {{/foreach}}
        </div>
    </div>
</main>