.Content{   
  &--container{
    lost-center: 60em;
  }
  &__head{
    margin-bottom: $pad-scale4;
    display: inline-block;
    &--link{
      text-decoration: none;
      border-bottom: solid 4px;
    }
  }
  &__title{
    color: #fff;
    font-weight: 600;
    font-size: 59px;
    min-width: 70%;
    line-height: 1.15;
  }
  &__navigation{
    display: inline-block;
    vertical-align: text-top;
    float: right;
  }
}