/*  Post Card */

.PostCard {
  &::last-child{
    .PostCard__content {
      border-bottom: 0;
    }
  };
  /* Author */
  &__author {
    font-size: 17px;
  }
  &__title {
    text-decoration: none;
    border-bottom: 0;
    font-weight: 600;
    color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 34px;
    /*font-size: 61px;*/
    line-height: 1.25;
  }
  &__link {
    text-decoration: none;
  }
  
  &__excerpt {
    color: #444;
    margin-top: 12px;
    p {
      margin-top: 0;
    }
  }
  &__tags {
    color: #999;
    margin-bottom: $pad-scale05;
    display: inline-block;
  }
  
  &__content {
    margin-bottom: $pad-scale4;
    padding-bottom: $pad-scale4;
    border-bottom: solid 3px #efefef;    
    &:hover {
      border-bottom: solid 3px blue;
      .PostCard__tags {
        color: blue;
        opacity: 0.45;
      }
      .PostCard__title{
        color: blue;
      } 
    };    
  }
}