.post{
  &__title{
    font-size: 61px;
    line-height: 1.25;
  }
}
.post-card-excerpt {
  color: #444;
  margin-top: 12px;
}
.post-card-tags {
  color: #53a541;
}
.post-card-excerpt p {
  margin-top: 0;
}
.post-card-content-link {
  text-decoration: none;
}
.post-card-content {
  margin-bottom: 4rem;
  padding-bottom: 3rem;
}

.post-card-content:hover .post-card-tags {
  color: blue;
  opacity: 0.45;
}
.post-card-content:hover h2.post-card-title{
  color: blue;
}
.post-card-content:hover{
  border-bottom: solid 3px blue;
}

.post-card-author {
  font-size: 17px;
}
.post-card-author a {
  font-size: 17px;
  text-decoration: none;
}