/*  Post */

.Post{
  &--full{
    .Post__title {
      margin-top: $pad-scale1;
      margin-bottom: $pad-scale1;
    }
  }

  &__content{
    font-size: 20px;
    line-height: 1.85;
    color: $text-fill;
    a{
      border-bottom: solid 2px rgb(226, 226, 249);
    }
  }
  
  &__title{
    font-size: 61px;
    line-height: 1.25;    
  }
  &__meta {
    display: inline-block;
    margin-top: 1.5rem;
  }
}